body{
	user-select: none;
}
.contact-email-link{
	text-decoration: none;
}

.contact-email-link:hover{
	text-decoration: underline;
}

#developer{
	color: black;
	text-decoration: none;
}

.services-list{
  letter-spacing: 3px;
  word-wrap: 2px;
}

.services-info{
	color: #17a2b8;
}